{% block app_input_label %}
    <h2 class="ui dividing header">Input</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus venenatis leo, ut pretium neque sagittis at. In non metus facilisis, porttitor urna sit amet, elementum nisl. Nullam congue molestie pellentesque. Donec ornare elit sem. Vivamus tortor odio, finibus quis dui nec, malesuada blandit sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate nibh lacus, a semper massa gravida id. Nunc pretium risus eget urna efficitur efficitur. Mauris vel pharetra urna, at sodales nisl. Mauris a odio condimentum, vestibulum ipsum quis, gravida eros. Aliquam erat volutpat. Vivamus placerat a sem quis tempor. Pellentesque a dolor a metus imperdiet condimentum. Nulla facilisi. Nunc placerat, ligula eget tincidunt porta, risus augue lobortis nulla, vitae imperdiet est est et dolor. Maecenas sit amet turpis sed nulla dapibus fringilla sit amet vitae odio. </p>
{% endblock %}

{% block app_input_state_label %}
    <h3 class="ui dividing header">Input States</h3>
{% endblock %}

{% block app_input_variation_label %}
    <h3 class="ui dividing header">Input Variations</h3>
{% endblock %}

{% block app_input_variation_icon_label %}
    <h4 class="ui dividing header">Icon</h4>
{% endblock %}

{% block app_input_variation_labeled_label %}
    <h4 class="ui dividing header">Labeled</h4>
{% endblock %}

{% block app_input_variation_size_label %}
    <h4 class="ui dividing header">Size</h4>
{% endblock %}

{% block app_field_label %}
    <h2 class="ui dividing header">Field</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus venenatis leo, ut pretium neque sagittis at. In non metus facilisis, porttitor urna sit amet, elementum nisl. Nullam congue molestie pellentesque. Donec ornare elit sem. Vivamus tortor odio, finibus quis dui nec, malesuada blandit sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate nibh lacus, a semper massa gravida id. Nunc pretium risus eget urna efficitur efficitur. Mauris vel pharetra urna, at sodales nisl. Mauris a odio condimentum, vestibulum ipsum quis, gravida eros. Aliquam erat volutpat. Vivamus placerat a sem quis tempor. Pellentesque a dolor a metus imperdiet condimentum. Nulla facilisi. Nunc placerat, ligula eget tincidunt porta, risus augue lobortis nulla, vitae imperdiet est est et dolor. Maecenas sit amet turpis sed nulla dapibus fringilla sit amet vitae odio. </p>
{% endblock %}

{% block app_field_state_label %}
    <h3 class="ui dividing header">Field States</h3>
{% endblock %}

{% block app_field_state_disabled_label %}
    <h4 class="ui dividing header">Disabled</h4>
{% endblock %}

{% block app_field_state_error_label %}
    <h4 class="ui dividing header">Error</h4>
{% endblock %}

{% block app_field_variation_label %}
    <h3 class="ui dividing header">Field Variations</h3>
{% endblock %}

{% block app_field_variation_inline_label %}
    <h4 class="ui dividing header">Inline</h4>
{% endblock %}

{% block app_field_variation_width_label %}
    <h4 class="ui dividing header">Width</h4>
{% endblock %}

{% block app_group_label %}
    <h2 class="ui dividing header">Group</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus venenatis leo, ut pretium neque sagittis at. In non metus facilisis, porttitor urna sit amet, elementum nisl. Nullam congue molestie pellentesque. Donec ornare elit sem. Vivamus tortor odio, finibus quis dui nec, malesuada blandit sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate nibh lacus, a semper massa gravida id. Nunc pretium risus eget urna efficitur efficitur. Mauris vel pharetra urna, at sodales nisl. Mauris a odio condimentum, vestibulum ipsum quis, gravida eros. Aliquam erat volutpat. Vivamus placerat a sem quis tempor. Pellentesque a dolor a metus imperdiet condimentum. Nulla facilisi. Nunc placerat, ligula eget tincidunt porta, risus augue lobortis nulla, vitae imperdiet est est et dolor. Maecenas sit amet turpis sed nulla dapibus fringilla sit amet vitae odio. </p>

    <h3 class="ui dividing header">Group Variations</h3>
{% endblock %}

{% block app_checkbox_label %}
    <h2 class="ui dividing header">Checkbox</h2>
{% endblock %}

{% block app_choice_label %}
    <h2 class="ui dividing header">Choice</h2>
{% endblock %}
