{% extends 'layout.html.twig' %}

{% block meta_title %}
    Home - {{parent()}}
{% endblock %}

{% block body %}
    Home

    <p>need documentation about input and field form extensions</p>


    <p>
        add datetimepicker extension, add KnpMenu integration, semantic javascript form validation
    </p>
{% endblock %}
