{% extends 'layout.html.twig' %}

{% block meta_title %}
    Overview - {{parent()}}
{% endblock %}

{% block body %}
    <ul>
        <li>input is a widget</li>
        <li>field is a row</li>
        <li>group is form chilren (collection of rows)</li>
    </ul>

    <div class="ui segment">
        {{ form(form, {
            attr: {
                novalidate: true
            }
        }) }}
    </div>
{% endblock %}
